@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(img/4.jpg);
    width: 100%;
}


.box table {
    width: 350px;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    text-align: center;
}


h2 {
    color: black;
    margin: 10px 0;
}
h1 {
    color: #4f79b3;
    margin: 10px 0;
}

form input {
    width: 90%;
    padding: 7px;
    margin: 7px;
    border: 1px solid rgb(195, 184, 184);
    border-radius: 20px;
    background: #e4e4e4;
}
form select {
    width: 90%;
    padding: 7px;
    margin: 7px;
    border: 1px solid rgb(195, 184, 184);
    border-radius: 20px;
    background: #e4e4e4;
}
form select {
    width: 90%;
    padding: 7px;
    margin: 7px;
    border: 1px solid rgb(195, 184, 184);
    border-radius: 20px;
    background: #e4e4e4;
}

button {
    width: 90%;
    padding: 7px;
    margin: 7px;
    border: 1px solid rgb(195, 184, 184);
    border-radius: 20px;
    background: #4f79b3;
    color: white;
    font-size: medium;
    font-weight: 400;
}
